.photo-frame{
    width: 300px;
    border: 5px solid blue;
    margin: 10px;
    padding: 15px;
}

table {
    border-collapse: collapse; 
    width: 50%;
    margin-top: 20px;
}

th, td {
    border: 1px solid black; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}